@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.para {
    margin: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.profile-button {
    font-weight:bold;
    margin: auto;
}

.profile-button:hover {
    background: linear-gradient(90deg, rgb(149, 250, 255), rgb(255, 182, 213) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: 1000;
  }

 .nav-button {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
 }
 
 .nav-button-color {
    color:rgb(45, 40, 58);
    font-weight: 900;
 }

 .nav-button-color:hover {
    background: linear-gradient(90deg, rgb(149, 250, 255), rgb(255, 182, 213) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: 1000;
  }

  .nav-icon {
      width: 90px;
      margin-right: none;
      margin-left: none;
      padding-right: none;
      padding-left: none;
  }

  .nav-element {
      width: 90px;
      height: 90px;
    margin-right: none;
    margin-left: none;
    padding-right: none;
    padding-left: none;
  }

  .dot {
      margin-top: auto;
      margin-bottom: auto;
      width: 50px;
  }

#white-title {
    color: whitesmoke;
}

#userbox {
    background: linear-gradient(90deg, rgba(233, 254, 255, 0.7) 20%, rgba(255, 233, 243, 0.7) 100%);
    width: 100%;
    border-radius: 30px;
    border-color: rgb(55, 50, 70);
    border-width: 10px;
    border-style: solid;
}

#display {
    width: 90%;
    color: rgb(185, 180, 206);
    background-color: rgba(52, 44, 61, 0.6);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#display-nav {
    background-color:  rgb(55, 50, 70);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#profile-name {
    font-weight: 900;
    color: rgb(55, 50, 70);
}

#iconbox {
    background-color: rgba(254, 254, 255, 0.4);
    border-radius: 10px;
}

#taskbox {
    background-color: rgba(195, 186, 221, 0.2);
    border-radius: 10px;
}

.navbar {
    background: linear-gradient(90deg, rgb(227, 254, 255), rgb(255, 206, 226) );
}

.parent {
    display: grid;
    place-items: center;
    text-align:center
}

.page-header {
    background-color: rgb(35, 33, 43, 0.7);
    width:100%;
    text-align:center;
    border-color: rgb(45, 40, 58);
    border-width: 10px;
    border-bottom-style: solid;
    border-top-style: solid;
}

.title {
    size: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(149, 250, 255), rgb(255, 182, 213) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-button {
    size: 20px;
    font-weight: bold;
    color: rgb(17, 17, 20);
}
